.Dash-board-cont{
  background-color: var(--background);
  width: 100%;
  height: 900px;
  padding-top: 30px;
  padding: 20px;
}
.child-1{
    background-color:var(--card-bg);
    width: 1277px;
    height: 100%;
    border-radius:var(--border-radius) ;
    padding: 12px;

}
.child-2{
    background-color: var(--background);
    width: 1275px;
    height: 100%;
    border-radius:var(--border-radius) ;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;

}
.Blog-Management{
    padding-left:40px;
}
.search-bar,input{
    height: 40px;
    width: 400px;
    border-radius:var(--border-radius);
}
.add-blog{
    padding-right:40px ;
}
.add-blog,.add{
   height: 40px; 
   width: 150px;
   border-radius:var(--border-radius);
   color:var(--card-bg);
   background-color: var( --primary-color) ;
}