.Dash-board-cont{
  background-color: var(--background);
  width: 95%;
  height: 900px;
  padding-top: 30px; 
  padding: 20px;
  
}
 .Dash-board-cont .child-1{
    background-color:var(--card-bg);
    width:100%;
    height: 70%; 
    border-radius:var(--border-radius) ;
    padding: 12px;
    
    

}
 .child-1 .child-2{
    background-color: var(--background);
    border-radius:var(--border-radius) ;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 10px;   
    width: 100%; 
    padding-block: 1px;
}
.child-1 .child-3{
    width: 100%;
}
.child-2 .Blog-Management{
    padding-left:40px;

}
.search-bar .search-input{
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 30px;
    padding-inline:1px ;
    padding-block: 2px;
    
} 
.child-2 .search-bar{
    padding: 15px;
    width: 30%;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    height: 40px;
    
}
.child-2 .add-blog{
    padding-right:40px ;
}
.add-blog .add-btn{
   height: 40px; 
   width: 150px;
   border-radius:var(--border-radius);
   color:var(--card-bg);
   background-color: var( --primary-color) ;
   border:none ;
}

.child-3 .table-list{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
} 

.table-list .id{
     text-align: center;
  
}
.table-list .display-tittle{
     text-align: center;
}
.table-list .display-sub{
     text-align: center;
}
.table-list .display-cat{
     text-align: center;
}
.table-list .display-time{
    text-align: center;
}
.table-list .actions{
    padding-left:39%; 
    gap: 20px;
    display: flex;
}
.table-list .edit{
   color: blue;

}
 .table-list .delect{
    color:  var( --primary-color) ;
}
.table-list td{
    padding: 38px 50px;
}



  


