

.display-container{
    position: relative;
    margin: 50px;
    /* padding: 0 40px; */

}
.displaydetails{
    width: 680px;
    height: 730px;
    background-color: var(--card-bg);
    margin-left: 350px;
    border-radius: 18px; 
    display: inline-grid;
     text-align: center; 
    align-items: center;
    padding: 10px;
}
.figure{
    width: 680px;
    height: 330px;
    border-radius: 20px;
    margin-right: -90px;
}
.figure2{
    color: var(--text-color);
    font-style: italic;
    margin-top: 20px;
}
.figure3{
    color: var(--text-color);
}

.figure4{
    color: var(--text-color);
}
span{
    font-weight: bold;
}
