.container{
    position: relative;
    
}
.displaydetails{
    width: 900px;
    height: 400px;
    background-color: var(--card-bg);
    margin: 120px;
    border-radius: 20px;
    display: flex;
}
.figure{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.figure2{
    color: var(--text-color);
    font-style: italic;
}
.figure3{
    color: var(--text-color);
    margin-top: 50px;
    
}

.figure4{
    color: var(--text-color);
    

}