
.footer-cont .foot{
  padding: 4rem 0;
  border-top: 1px solid #999999;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  background-color: var(--card-bg);
  text-align: center;
  
}
.copyright{
transform: translateX(300px);
    

}
.foot-details .foot-email{
    line-height:40px;
    margin: 20px;
    width: 300px;
    margin-left: 100px;
    border: 1px solid var(--primary-color);
    padding: 5px;

}
.foot-details .foot-button{
    margin-left: 90px;
    width: 250px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 10px;
}
.foot-details .foot-btn{
    width: 200px;
    height: 20px;
}