
.foot{
  padding: 4rem 0;
  border-top: 1px solid #999999;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  background-color: var(--card-bg);
  text-align: center;
  
}
.copyright{
    display: flex;
    text-align: center;
    padding-left: 80%;
    

}
.foot-details, .foot-email{
    line-height:40px;
    margin: 20px;
}
.foot-details, .foot-button{
    margin-left: 50px;
}