*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.home{
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    margin-left: 60px;

}

.home-container{
    width: 50%;
    height: 100%;
    margin-top: 60px;
    position: relative;
}
.home-container2{
    background-color: var(--card-bg);
    height: 330px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid var(--text-color);
}
.home-container2:hover{
    transform: scale(1.03);
    border: 2px solid var(--primary-color);
    background-color:var(--text-color) ;
    color: var(--card-bg);
}
.home2{
    height: 150px;
    width: 241px;
    border-radius: 10px;
    
}
.title{
    text-align: center;
    font-style: italic;
}
.subtitle{
    text-align: center;
}
.time{
    text-align: center;
}
.date{
    text-align: center;
}
