
*{
    padding: 0;
    margin: 0;
}
.home-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 240px;
    height: 300px;
    margin: 100px;
    margin-top: 100px;
}
.home{
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:9px;
}

.home-container{
    width: 50%;
    height: 100%;
    margin-top: 60px;
    position: relative;
}
.home-container2{
    background-color: var(--card-bg);
    height: 330px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid var(--text-color);
     transition: box-shadow 0.3s ease-in-out;
}
.home-container2:hover{
    animation: shake 0.5s;
    box-shadow: 0 0 20px 10px  var(--primary-color);
    background-color:var(--text-color) ;
    color: var(--card-bg);
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); } 
} 
.home2{
    height: 150px;
    width: 241px;
    border-radius: 10px;
}
.title{
    text-align: center;
    font-style: italic;
}
.subtitle{
    text-align: center;
}
.time{
    text-align: center;
}
.date{
    text-align: center;
}
