*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.home-container{
    display: flex;
    justify-content: space-between;
    gap: 75px;
    width: 240px;
    height: 300px;
    margin: 10px;
    margin-top: 130px;
    
    
}
.home-container2{
    background-color: var(--card-bg);
    height: 350px;
    width: 242px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid var(--text-color);
    flex-wrap: wrap;
}
.home-container2:hover{
    transform: scale(1.03);
    border: 2px solid var(--primary-color);
    background-color:var(--text-color) ;
    color: var(--card-bg);
}
.home {
    height: 150px;
    width: 241px;
    border-radius: 10px;
    
}
.title{
    text-align: center;
    font-style: italic;
}
.subtitle{
    text-align: center;
}
.time{
    text-align: center;
}
.date{
    text-align: center;
}
