  .header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:var(--card-bg);
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border: 1px solid var(--background);
  gap: 10px;
  z-index: 1000;


}
.nav-links{
  display: flex;
  gap: 40px;
  padding: 20px;
  font-size: 25px;
  
}
.admin-post{
  background-color: var(--primary-color) ;
  padding: 7px;
  border-radius: 5px;
}
.login-form{
  width: 400px;
  height: 400px;
  background-color:var(--background);
  border: 1px solid black;

}
.blog-title{
  color: var(--primary-color);
  font-size: 50px;
}
.home-nav, .about-nav, .cat-nav{
  color: var(--primary-color);
}