 :root{
  --background: rgb(228, 222, 222);
  --text-color:black ;
  --border-radius:10px ;
  --secondary-color: rgb(242, 42, 75);
  --card-bg: #ffff;
  --primary-color: rgb(208, 10, 43);
  --border:2px solid;
   overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color:var(--text-color)  ;
  font-size: 16px;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color:var(--text-color)  ;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
.app{
  padding-top:70px ;
}
