:root{
  --background: rgb(228, 222, 222);
  --text-color:black ;
  --border-radius:10px ;
  --secondary-color: rgb(242, 42, 75);
  --card-bg: #ffff;
  --primary-color: rgb(208, 10, 43);
  --border:2px solid;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color:var(--text-color)  ;
  font-size: 13px;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color:var(--text-color)  ;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
.container{
  width: 1000px;
  padding: 50px;
}

.show-categories{
  height: 80px;
  width: 100%;
  background-color:var(--background) ;
  border-radius: 10px;
  position: relative;
  color:var(--text-color);
  margin: 15px;
  padding: 10px;
  border: var(--border) var(--primary-color);
  cursor: pointer;
}
.show-categories:hover{
    animation: shake 0.5s;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); } 
} 

.container,.name-font{
  font-size:large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 30px;

}
.Dash-board-cont{
  background-color: var(--card-bg);
}
